:root {
  /* colors */
  --background-color: #6a89cc;
  --background--darker-color: #0a3d62;
  --white-color: #ffffff;
  --grey-color: #b7b4b4;
  --titles-color: #6a89cc;
  --blue--block-color: #4a69bd;
  --text-links-color: #1e3799;
  --background-buttons-color: #c4c4c4;
  --danger-color: #b71540;
  --green-color-1: #b8e994;
  --green-color-2: #78e08f;
  --green-color-3: #38ada9;
}
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  outline: none;
  border: none;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  color: var(--white-color);
}
*::-webkit-scrollbar {
  width: 1rem;
}
*::-webkit-scrollbar-track {
  background: #e0e0e0;
}
*::-webkit-scrollbar-thumb {
  background: #c4c4c4;
  border-radius: 20px;
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  scroll-padding: 7rem;
}
body {
  background: var(--background-color);
  scrollbar-width: thin;
  scrollbar-color: #c4c4c4 #e0e0e0;
}
.home-content {
  width: 40rem;
}
.home, .playlists, .signin, .signup{
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
